[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
primp = "*"
beautifulsoup4 = "*"
pytz = "*"

[dev-packages]

[scripts]
"scrape.py" = "python scrape.py"
test = "python -m unittest discover"